/* line 40, ../sass/_elements.scss */
.rect-bttn {
  cursor: pointer;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  border: 1px solid #fff;
  width: 100%;
  text-align: center;
  -moz-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  background-color: rgba(255, 255, 255, 0.1);
}
/* line 12, ../sass/_elements.scss */
.rect-bttn:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

/* line 44, ../sass/_elements.scss */
.error {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
}

/* line 59, ../sass/_elements.scss */
input[type=range] {
  /*removes default webkit styles*/
  -webkit-appearance: none;
  /*fix for FF unable to apply focus style bug */
  border: 1px solid white;
  /*required for proper track sizing in FF*/
  width: 100%;
}

/* line 69, ../sass/_elements.scss */
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  background: #eee;
  border: none;
  border-radius: 3px;
}

/* line 76, ../sass/_elements.scss */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #4e88ff;
  margin-top: -4px;
}

/* line 85, ../sass/_elements.scss */
input[type=range]:focus {
  outline: none;
}

/* line 88, ../sass/_elements.scss */
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #eee;
}

/* line 92, ../sass/_elements.scss */
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  background: #eee;
  border: none;
  border-radius: 3px;
}

/* line 99, ../sass/_elements.scss */
input[type=range]::-moz-range-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #4e88ff;
}

/*hide the outline behind the border*/
/* line 108, ../sass/_elements.scss */
input[type=range]:-moz-focusring {
  outline: 1px solid white;
  outline-offset: -1px;
}

/* line 113, ../sass/_elements.scss */
input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
  background: transparent;
  /*leave room for the larger thumb to overflow with a transparent border */
  border-color: transparent;
  border-width: 6px 0;
  /*remove default tick marks*/
  color: transparent;
}

/* line 127, ../sass/_elements.scss */
input[type=range]::-ms-fill-lower {
  background: #777;
  border-radius: 10px;
}

/* line 131, ../sass/_elements.scss */
input[type=range]::-ms-fill-upper {
  background: #eee;
  border-radius: 10px;
}

/* line 135, ../sass/_elements.scss */
input[type=range]::-ms-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #4e88ff;
}

/* line 142, ../sass/_elements.scss */
input[type=range]:focus::-ms-fill-lower {
  background: #888;
}

/* line 145, ../sass/_elements.scss */
input[type=range]:focus::-ms-fill-upper {
  background: #eee;
}

/* line 1, ../sass/_typography.scss */
body {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  text-transform: uppercase;
}

/* line 8, ../sass/_typography.scss */
h1 {
  font-weight: 300;
  font-size: 2em;
  margin: 0;
  text-align: center;
}

/* line 1, ../sass/_home_pane.scss */
.home-pane {
  height: 23em;
  width: 18em;
  position: absolute;
  top: calc((100% - 23em)/2);
  left: calc((100% - 18em)/2);
}
/* line 8, ../sass/_home_pane.scss */
.home-pane .mix-bttn {
  cursor: pointer;
  margin-top: 1em;
  margin-bottom: 1em;
  -moz-border-radius: 18em;
  -webkit-border-radius: 18em;
  border-radius: 18em;
  border: 1px solid #fff;
  width: 18em;
  height: 18em;
  text-align: center;
  -moz-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  background-color: rgba(255, 255, 255, 0.1);
  display: table;
}
/* line 12, ../sass/_elements.scss */
.home-pane .mix-bttn:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
/* line 12, ../sass/_home_pane.scss */
.home-pane .mix-bttn span {
  display: table-cell;
  vertical-align: middle;
  font-size: 3em;
  font-weight: 300;
  text-transform: uppercase;
}
/* line 20, ../sass/_home_pane.scss */
.home-pane .mix-bttn small {
  display: block;
  font-size: 0.33em;
  font-weight: 100;
}
/* line 27, ../sass/_home_pane.scss */
.home-pane .lucky-bttn {
  width: 18em;
}

/* line 1, ../sass/_mix_pane.scss */
.mix-pane {
  height: 36em;
  width: 20em;
  position: absolute;
  top: calc((100% - 36em)/2);
  left: calc((100% - 20em)/2);
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
/* line 11, ../sass/_mix_pane.scss */
.mix-pane .sliders {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
/* line 16, ../sass/_mix_pane.scss */
.mix-pane .sliders span {
  display: block;
  margin-top: 15px;
}
/* line 21, ../sass/_mix_pane.scss */
.mix-pane .sliders input {
  margin-bottom: 5px;
}
/* line 25, ../sass/_mix_pane.scss */
.mix-pane .back-bttn {
  width: 20%;
  float: left;
  height: 1.2em;
}
/* line 31, ../sass/_mix_pane.scss */
.mix-pane .mix-bttn {
  width: 72%;
  float: left;
  margin-left: 1em;
}
/* line 38, ../sass/_mix_pane.scss */
.mix-pane label {
  display: inline-block;
}
/* line 39, ../sass/_mix_pane.scss */
.mix-pane label > input {
  visibility: hidden;
  position: absolute;
}
/* line 43, ../sass/_mix_pane.scss */
.mix-pane label > input + img {
  cursor: pointer;
  border: 2px solid transparent;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-transition: border-color 0.5s;
  -o-transition: border-color 0.5s;
  -webkit-transition: border-color 0.5s;
  transition: border-color 0.5s;
}
/* line 49, ../sass/_mix_pane.scss */
.mix-pane label > input:checked + img {
  /* (RADIO CHECKED) IMAGE STYLES */
  border-color: #eee;
}
/* line 52, ../sass/_mix_pane.scss */
.mix-pane label span {
  display: block;
  text-align: center;
  font-size: 0.9em;
}

/* line 61, ../sass/_mix_pane.scss */
.mix-icon {
  width: 200px;
}

/* line 65, ../sass/_mix_pane.scss */
.mix-icon > * {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
}

/* line 73, ../sass/_mix_pane.scss */
.mix-icon > * > * {
  display: inline-block;
}

/* line 88, ../sass/_mix_pane.scss */
.diamond-1 {
  width: 50px;
  height: 50px;
  background-color: #fff;
  opacity: 0.6;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 95, ../sass/_mix_pane.scss */
.diamond-2 {
  width: 50px;
  height: 50px;
  background-color: #fff;
  opacity: 0.6;
}

/* line 101, ../sass/_mix_pane.scss */
.star-1, .star-2 {
  position: relative;
  display: block;
  color: red;
  width: 0px;
  height: 0px;
  border-right: 50px solid transparent;
  border-bottom: 35px solid #fff;
  border-left: 50px solid transparent;
  -moz-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
  opacity: 0.6;
}

/* line 114, ../sass/_mix_pane.scss */
.star-1:before, .star-2:before {
  border-bottom: 40px solid #fff;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -22.5px;
  left: -32.5px;
  display: block;
  content: '';
  -moz-transform: rotate(-35deg);
  -ms-transform: rotate(-35deg);
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
}

/* line 127, ../sass/_mix_pane.scss */
.star-1:after, .star-2:after {
  position: absolute;
  display: block;
  color: #fff;
  top: 1.5px;
  left: -52.5px;
  width: 0px;
  height: 0px;
  border-right: 50px solid transparent;
  border-bottom: 35px solid #fff;
  border-left: 50px solid transparent;
  -moz-transform: rotate(-70deg);
  -ms-transform: rotate(-70deg);
  -webkit-transform: rotate(-70deg);
  transform: rotate(-70deg);
  content: '';
}

/* line 144, ../sass/_mix_pane.scss */
.star-2 {
  border-bottom: 70px solid #fff;
}

/* line 148, ../sass/_mix_pane.scss */
.star-2:before {
  border-bottom: 80px solid #fff;
}

/* line 152, ../sass/_mix_pane.scss */
.star-2:after {
  border-bottom: 70px solid #fff;
}

/* line 156, ../sass/_mix_pane.scss */
.star-container {
  width: 100px;
  height: 100px;
}

/* line 1, ../sass/_lucky_pane.scss */
.lucky-pane {
  height: 18em;
  width: 20em;
  position: absolute;
  top: calc((100% - 18em)/2);
  left: calc((100% - 20em)/2);
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
/* line 11, ../sass/_lucky_pane.scss */
.lucky-pane .back-bttn {
  width: 20%;
  float: left;
  height: 1.2em;
}
/* line 17, ../sass/_lucky_pane.scss */
.lucky-pane .mix-bttn {
  width: 72%;
  float: left;
  margin-left: 1em;
}
/* line 24, ../sass/_lucky_pane.scss */
.lucky-pane label {
  display: inline-block;
}
/* line 25, ../sass/_lucky_pane.scss */
.lucky-pane label > input {
  visibility: hidden;
  position: absolute;
}
/* line 29, ../sass/_lucky_pane.scss */
.lucky-pane label > input + img {
  cursor: pointer;
  border: 2px solid transparent;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-transition: border-color 0.5s;
  -o-transition: border-color 0.5s;
  -webkit-transition: border-color 0.5s;
  transition: border-color 0.5s;
}
/* line 35, ../sass/_lucky_pane.scss */
.lucky-pane label > input:checked + img {
  /* (RADIO CHECKED) IMAGE STYLES */
  border-color: #eee;
}
/* line 38, ../sass/_lucky_pane.scss */
.lucky-pane label span {
  display: block;
  text-align: center;
  font-size: 0.9em;
}

/* line 1, ../sass/_loading_pane.scss */
.loading-pane {
  height: 20em;
  width: 20em;
  position: absolute;
  top: calc((100% - 20em)/2);
  left: calc((100% - 20em)/2);
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
/* line 14, ../sass/_loading_pane.scss */
.loading-pane .spinner {
  /* Size and position */
  font-size: 150;
  /* 1em */
  width: 1em;
  height: 1em;
  margin: 50px auto;
  position: relative;
  padding: 0;
  /* Styles */
  list-style: none;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.2);
  /* Subtle white line circling the dots */
}
/* line 29, ../sass/_loading_pane.scss */
.loading-pane .spinner li {
  width: .2em;
  height: .2em;
  position: absolute;
  border-radius: 50%;
}
/* line 36, ../sass/_loading_pane.scss */
.loading-pane .spinner li:nth-child(1) {
  background: #1ed2f1;
  /* Blue */
  top: 0;
  left: 50%;
  margin-left: -.1em;
  /* Width/2 */
  transform-origin: 50% 250%;
  -moz-animation: rota 1.13s linear infinite, opa 3.67s ease-in-out infinite alternate;
  -webkit-animation: rota 1.13s linear infinite, opa 3.67s ease-in-out infinite alternate;
  animation: rota 1.13s linear infinite, opa 3.67s ease-in-out infinite alternate;
}
/* line 46, ../sass/_loading_pane.scss */
.loading-pane .spinner li:nth-child(2) {
  background: #ff0022;
  /* Red */
  top: 50%;
  right: 0;
  margin-top: -.1em;
  /* Height/2 */
  transform-origin: -150% 50%;
  -moz-animation: rota 1.86s linear infinite, opa 4.29s ease-in-out infinite alternate;
  -webkit-animation: rota 1.86s linear infinite, opa 4.29s ease-in-out infinite alternate;
  animation: rota 1.86s linear infinite, opa 4.29s ease-in-out infinite alternate;
}
/* line 56, ../sass/_loading_pane.scss */
.loading-pane .spinner li:nth-child(3) {
  background: #fffb0e;
  /* Yellow */
  bottom: 0;
  left: 50%;
  margin-left: -.1em;
  /* Width/2 */
  transform-origin: 50% -150%;
  -moz-animation: rota 1.45s linear infinite, opa 5.12s ease-in-out infinite alternate;
  -webkit-animation: rota 1.45s linear infinite, opa 5.12s ease-in-out infinite alternate;
  animation: rota 1.45s linear infinite, opa 5.12s ease-in-out infinite alternate;
}
/* line 66, ../sass/_loading_pane.scss */
.loading-pane .spinner li:nth-child(4) {
  background: #82ec18;
  /* Green */
  top: 50%;
  left: 0;
  margin-top: -.1em;
  /* Height/2  */
  transform-origin: 250% 50%;
  -moz-animation: rota 1.72s linear infinite, opa 5.25s ease-in-out infinite alternate;
  -webkit-animation: rota 1.72s linear infinite, opa 5.25s ease-in-out infinite alternate;
  animation: rota 1.72s linear infinite, opa 5.25s ease-in-out infinite alternate;
}
@-moz-keyframes rota {
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rota {
  to {
    transform: rotate(360deg);
  }
}
@keyframes rota {
  to {
    transform: rotate(360deg);
  }
}
@-moz-keyframes opa {
  12.0% {
    opacity: 0.80;
  }
  19.5% {
    opacity: 0.88;
  }
  37.2% {
    opacity: 0.64;
  }
  40.5% {
    opacity: 0.52;
  }
  52.7% {
    opacity: 0.69;
  }
  60.2% {
    opacity: 0.60;
  }
  66.6% {
    opacity: 0.52;
  }
  70.0% {
    opacity: 0.63;
  }
  79.9% {
    opacity: 0.60;
  }
  84.2% {
    opacity: 0.75;
  }
  91.0% {
    opacity: 0.87;
  }
}
@-webkit-keyframes opa {
  12.0% {
    opacity: 0.80;
  }
  19.5% {
    opacity: 0.88;
  }
  37.2% {
    opacity: 0.64;
  }
  40.5% {
    opacity: 0.52;
  }
  52.7% {
    opacity: 0.69;
  }
  60.2% {
    opacity: 0.60;
  }
  66.6% {
    opacity: 0.52;
  }
  70.0% {
    opacity: 0.63;
  }
  79.9% {
    opacity: 0.60;
  }
  84.2% {
    opacity: 0.75;
  }
  91.0% {
    opacity: 0.87;
  }
}
@keyframes opa {
  12.0% {
    opacity: 0.80;
  }
  19.5% {
    opacity: 0.88;
  }
  37.2% {
    opacity: 0.64;
  }
  40.5% {
    opacity: 0.52;
  }
  52.7% {
    opacity: 0.69;
  }
  60.2% {
    opacity: 0.60;
  }
  66.6% {
    opacity: 0.52;
  }
  70.0% {
    opacity: 0.63;
  }
  79.9% {
    opacity: 0.60;
  }
  84.2% {
    opacity: 0.75;
  }
  91.0% {
    opacity: 0.87;
  }
}
/* line 1, ../sass/_rating_pane.scss */
.rating-pane {
  height: 12em;
  width: 20em;
  position: absolute;
  top: calc((100% - 12em)/2);
  left: calc((100% - 20em)/2);
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
/* line 11, ../sass/_rating_pane.scss */
.rating-pane .stars {
  text-align: center;
  font-size: 2.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* line 12, ../sass/style.scss */
body {
  margin: 0;
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* line 21, ../sass/style.scss */
.panes {
  -moz-animation: fadein 0.6s normal forwards ease-in-out;
  -webkit-animation: fadein 0.6s normal forwards ease-in-out;
  animation: fadein 0.6s normal forwards ease-in-out;
}

@-moz-keyframes bgcolors {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-webkit-keyframes bgcolors {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes bgcolors {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes bubble-positions {
  0% {
    bottom: -5%;
  }
  100% {
    bottom: 105%;
  }
}
@-webkit-keyframes bubble-positions {
  0% {
    bottom: -5%;
  }
  100% {
    bottom: 105%;
  }
}
@keyframes bubble-positions {
  0% {
    bottom: -5%;
  }
  100% {
    bottom: 105%;
  }
}
/* line 38, ../sass/style.scss */
.bg {
  width: 100%;
  height: 100%;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9Ii0wLjAzOTYxNCIgeTE9IjAuOTUyNzkiIHgyPSIxLjAzOTYxNCIgeTI9IjAuMDQ3MjEiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMxMjI1ZDIiLz48c3RvcCBvZmZzZXQ9IjMzLjMzMzMzJSIgc3RvcC1jb2xvcj0iI2ExMzFhMSIvPjxzdG9wIG9mZnNldD0iNjYuNjY2NjclIiBzdG9wLWNvbG9yPSIjYTEyZTMzIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNzFiYjM2Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -moz-linear-gradient(40deg, #1225d2, #a131a1, #a12e33, #71bb36);
  background-image: -webkit-linear-gradient(40deg, #1225d2, #a131a1, #a12e33, #71bb36);
  background-image: linear-gradient(50deg, #1225d2, #a131a1, #a12e33, #71bb36);
  background-size: 800% 800%;
  -moz-animation: bgcolors 60s ease infinite;
  -webkit-animation: bgcolors 60s ease infinite;
  animation: bgcolors 60s ease infinite;
  z-index: -1000;
  position: fixed;
  top: 0;
  left: 0;
}
/* line 54, ../sass/style.scss */
.bg .bubble {
  bottom: 0;
  border-radius: 100px;
  position: absolute;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9Ii0wLjAzOTYxNCIgeTE9IjAuOTUyNzkiIHgyPSIxLjAzOTYxNCIgeTI9IjAuMDQ3MjEiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNhMmFhZjciLz48c3RvcCBvZmZzZXQ9IjI1JSIgc3RvcC1jb2xvcj0iI2U2ZWNmYSIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZTliNWU5Ii8+PHN0b3Agb2Zmc2V0PSI3NSUiIHN0b3AtY29sb3I9IiNlOWIyYjQiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkY2YwY2QiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -moz-linear-gradient(40deg, #a2aaf7, #e6ecfa, #e9b5e9, #e9b2b4, #dcf0cd);
  background-image: -webkit-linear-gradient(40deg, #a2aaf7, #e6ecfa, #e9b5e9, #e9b2b4, #dcf0cd);
  background-image: linear-gradient(50deg, #a2aaf7, #e6ecfa, #e9b5e9, #e9b2b4, #dcf0cd);
  background-size: 1000% 1000%;
  -moz-animation: bgcolors 80s ease infinite;
  -webkit-animation: bgcolors 80s ease infinite;
  animation: bgcolors 80s ease infinite;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(1) {
  height: 19px;
  width: 19px;
  left: 61%;
  opacity: 0.191;
  -moz-box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.191);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.191);
  box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.191);
  -moz-animation: bubble-positions 7s linear infinite -3s;
  -webkit-animation: bubble-positions 7s linear infinite -3s;
  animation: bubble-positions 7s linear infinite -3s;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(2) {
  height: 18px;
  width: 18px;
  left: 62%;
  opacity: 0.161;
  -moz-box-shadow: 0px 0px 6px 3px rgba(255, 255, 255, 0.161);
  -webkit-box-shadow: 0px 0px 6px 3px rgba(255, 255, 255, 0.161);
  box-shadow: 0px 0px 6px 3px rgba(255, 255, 255, 0.161);
  -moz-animation: bubble-positions 12s linear infinite -2s;
  -webkit-animation: bubble-positions 12s linear infinite -2s;
  animation: bubble-positions 12s linear infinite -2s;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(3) {
  height: 24px;
  width: 24px;
  left: 13%;
  opacity: 0.14;
  -moz-box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.14);
  -webkit-box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.14);
  box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.14);
  -moz-animation: bubble-positions 9s linear infinite -2s;
  -webkit-animation: bubble-positions 9s linear infinite -2s;
  animation: bubble-positions 9s linear infinite -2s;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(4) {
  height: 17px;
  width: 17px;
  left: 92%;
  opacity: 0.165;
  -moz-box-shadow: 0px 0px 8px 4px rgba(255, 255, 255, 0.165);
  -webkit-box-shadow: 0px 0px 8px 4px rgba(255, 255, 255, 0.165);
  box-shadow: 0px 0px 8px 4px rgba(255, 255, 255, 0.165);
  -moz-animation: bubble-positions 9s linear infinite -5s;
  -webkit-animation: bubble-positions 9s linear infinite -5s;
  animation: bubble-positions 9s linear infinite -5s;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(5) {
  height: 18px;
  width: 18px;
  left: 20%;
  opacity: 0.158;
  -moz-box-shadow: 0px 0px 6px 3px rgba(255, 255, 255, 0.158);
  -webkit-box-shadow: 0px 0px 6px 3px rgba(255, 255, 255, 0.158);
  box-shadow: 0px 0px 6px 3px rgba(255, 255, 255, 0.158);
  -moz-animation: bubble-positions 14s linear infinite -2s;
  -webkit-animation: bubble-positions 14s linear infinite -2s;
  animation: bubble-positions 14s linear infinite -2s;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(6) {
  height: 21px;
  width: 21px;
  left: 84%;
  opacity: 0.138;
  -moz-box-shadow: 0px 0px 6px 3px rgba(255, 255, 255, 0.138);
  -webkit-box-shadow: 0px 0px 6px 3px rgba(255, 255, 255, 0.138);
  box-shadow: 0px 0px 6px 3px rgba(255, 255, 255, 0.138);
  -moz-animation: bubble-positions 14s linear infinite -4s;
  -webkit-animation: bubble-positions 14s linear infinite -4s;
  animation: bubble-positions 14s linear infinite -4s;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(7) {
  height: 17px;
  width: 17px;
  left: 67%;
  opacity: 0.165;
  -moz-box-shadow: 0px 0px 6px 3px rgba(255, 255, 255, 0.165);
  -webkit-box-shadow: 0px 0px 6px 3px rgba(255, 255, 255, 0.165);
  box-shadow: 0px 0px 6px 3px rgba(255, 255, 255, 0.165);
  -moz-animation: bubble-positions 13s linear infinite -6s;
  -webkit-animation: bubble-positions 13s linear infinite -6s;
  animation: bubble-positions 13s linear infinite -6s;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(8) {
  height: 20px;
  width: 20px;
  left: 20%;
  opacity: 0.172;
  -moz-box-shadow: 0px 0px 7px 3px rgba(255, 255, 255, 0.172);
  -webkit-box-shadow: 0px 0px 7px 3px rgba(255, 255, 255, 0.172);
  box-shadow: 0px 0px 7px 3px rgba(255, 255, 255, 0.172);
  -moz-animation: bubble-positions 7s linear infinite -3s;
  -webkit-animation: bubble-positions 7s linear infinite -3s;
  animation: bubble-positions 7s linear infinite -3s;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(9) {
  height: 19px;
  width: 19px;
  left: 24%;
  opacity: 0.105;
  -moz-box-shadow: 0px 0px 6px 2px rgba(255, 255, 255, 0.105);
  -webkit-box-shadow: 0px 0px 6px 2px rgba(255, 255, 255, 0.105);
  box-shadow: 0px 0px 6px 2px rgba(255, 255, 255, 0.105);
  -moz-animation: bubble-positions 13s linear infinite -2s;
  -webkit-animation: bubble-positions 13s linear infinite -2s;
  animation: bubble-positions 13s linear infinite -2s;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(10) {
  height: 22px;
  width: 22px;
  left: 5%;
  opacity: 0.135;
  -moz-box-shadow: 0px 0px 8px 3px rgba(255, 255, 255, 0.135);
  -webkit-box-shadow: 0px 0px 8px 3px rgba(255, 255, 255, 0.135);
  box-shadow: 0px 0px 8px 3px rgba(255, 255, 255, 0.135);
  -moz-animation: bubble-positions 8s linear infinite -4s;
  -webkit-animation: bubble-positions 8s linear infinite -4s;
  animation: bubble-positions 8s linear infinite -4s;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(11) {
  height: 17px;
  width: 17px;
  left: 85%;
  opacity: 0.191;
  -moz-box-shadow: 0px 0px 2px 4px rgba(255, 255, 255, 0.191);
  -webkit-box-shadow: 0px 0px 2px 4px rgba(255, 255, 255, 0.191);
  box-shadow: 0px 0px 2px 4px rgba(255, 255, 255, 0.191);
  -moz-animation: bubble-positions 11s linear infinite -4s;
  -webkit-animation: bubble-positions 11s linear infinite -4s;
  animation: bubble-positions 11s linear infinite -4s;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(12) {
  height: 23px;
  width: 23px;
  left: 57%;
  opacity: 0.139;
  -moz-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.139);
  -webkit-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.139);
  box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.139);
  -moz-animation: bubble-positions 8s linear infinite -10s;
  -webkit-animation: bubble-positions 8s linear infinite -10s;
  animation: bubble-positions 8s linear infinite -10s;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(13) {
  height: 23px;
  width: 23px;
  left: 76%;
  opacity: 0.167;
  -moz-box-shadow: 0px 0px 1px 3px rgba(255, 255, 255, 0.167);
  -webkit-box-shadow: 0px 0px 1px 3px rgba(255, 255, 255, 0.167);
  box-shadow: 0px 0px 1px 3px rgba(255, 255, 255, 0.167);
  -moz-animation: bubble-positions 10s linear infinite -3s;
  -webkit-animation: bubble-positions 10s linear infinite -3s;
  animation: bubble-positions 10s linear infinite -3s;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(14) {
  height: 23px;
  width: 23px;
  left: 36%;
  opacity: 0.111;
  -moz-box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.111);
  -webkit-box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.111);
  box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.111);
  -moz-animation: bubble-positions 7s linear infinite -8s;
  -webkit-animation: bubble-positions 7s linear infinite -8s;
  animation: bubble-positions 7s linear infinite -8s;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(15) {
  height: 22px;
  width: 22px;
  left: 93%;
  opacity: 0.142;
  -moz-box-shadow: 0px 0px 7px 3px rgba(255, 255, 255, 0.142);
  -webkit-box-shadow: 0px 0px 7px 3px rgba(255, 255, 255, 0.142);
  box-shadow: 0px 0px 7px 3px rgba(255, 255, 255, 0.142);
  -moz-animation: bubble-positions 14s linear infinite -3s;
  -webkit-animation: bubble-positions 14s linear infinite -3s;
  animation: bubble-positions 14s linear infinite -3s;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(16) {
  height: 18px;
  width: 18px;
  left: 33%;
  opacity: 0.194;
  -moz-box-shadow: 0px 0px 7px 1px rgba(255, 255, 255, 0.194);
  -webkit-box-shadow: 0px 0px 7px 1px rgba(255, 255, 255, 0.194);
  box-shadow: 0px 0px 7px 1px rgba(255, 255, 255, 0.194);
  -moz-animation: bubble-positions 7s linear infinite -4s;
  -webkit-animation: bubble-positions 7s linear infinite -4s;
  animation: bubble-positions 7s linear infinite -4s;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(17) {
  height: 22px;
  width: 22px;
  left: 63%;
  opacity: 0.198;
  -moz-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.198);
  -webkit-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.198);
  box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.198);
  -moz-animation: bubble-positions 13s linear infinite -8s;
  -webkit-animation: bubble-positions 13s linear infinite -8s;
  animation: bubble-positions 13s linear infinite -8s;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(18) {
  height: 17px;
  width: 17px;
  left: 68%;
  opacity: 0.176;
  -moz-box-shadow: 0px 0px 8px 1px rgba(255, 255, 255, 0.176);
  -webkit-box-shadow: 0px 0px 8px 1px rgba(255, 255, 255, 0.176);
  box-shadow: 0px 0px 8px 1px rgba(255, 255, 255, 0.176);
  -moz-animation: bubble-positions 8s linear infinite -8s;
  -webkit-animation: bubble-positions 8s linear infinite -8s;
  animation: bubble-positions 8s linear infinite -8s;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(19) {
  height: 18px;
  width: 18px;
  left: 74%;
  opacity: 0.135;
  -moz-box-shadow: 0px 0px 2px 4px rgba(255, 255, 255, 0.135);
  -webkit-box-shadow: 0px 0px 2px 4px rgba(255, 255, 255, 0.135);
  box-shadow: 0px 0px 2px 4px rgba(255, 255, 255, 0.135);
  -moz-animation: bubble-positions 7s linear infinite -7s;
  -webkit-animation: bubble-positions 7s linear infinite -7s;
  animation: bubble-positions 7s linear infinite -7s;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(20) {
  height: 19px;
  width: 19px;
  left: 17%;
  opacity: 0.193;
  -moz-box-shadow: 0px 0px 8px 4px rgba(255, 255, 255, 0.193);
  -webkit-box-shadow: 0px 0px 8px 4px rgba(255, 255, 255, 0.193);
  box-shadow: 0px 0px 8px 4px rgba(255, 255, 255, 0.193);
  -moz-animation: bubble-positions 13s linear infinite -6s;
  -webkit-animation: bubble-positions 13s linear infinite -6s;
  animation: bubble-positions 13s linear infinite -6s;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(21) {
  height: 19px;
  width: 19px;
  left: 54%;
  opacity: 0.165;
  -moz-box-shadow: 0px 0px 1px 2px rgba(255, 255, 255, 0.165);
  -webkit-box-shadow: 0px 0px 1px 2px rgba(255, 255, 255, 0.165);
  box-shadow: 0px 0px 1px 2px rgba(255, 255, 255, 0.165);
  -moz-animation: bubble-positions 14s linear infinite -9s;
  -webkit-animation: bubble-positions 14s linear infinite -9s;
  animation: bubble-positions 14s linear infinite -9s;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(22) {
  height: 22px;
  width: 22px;
  left: 82%;
  opacity: 0.153;
  -moz-box-shadow: 0px 0px 1px 2px rgba(255, 255, 255, 0.153);
  -webkit-box-shadow: 0px 0px 1px 2px rgba(255, 255, 255, 0.153);
  box-shadow: 0px 0px 1px 2px rgba(255, 255, 255, 0.153);
  -moz-animation: bubble-positions 9s linear infinite -2s;
  -webkit-animation: bubble-positions 9s linear infinite -2s;
  animation: bubble-positions 9s linear infinite -2s;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(23) {
  height: 21px;
  width: 21px;
  left: 75%;
  opacity: 0.164;
  -moz-box-shadow: 0px 0px 3px 3px rgba(255, 255, 255, 0.164);
  -webkit-box-shadow: 0px 0px 3px 3px rgba(255, 255, 255, 0.164);
  box-shadow: 0px 0px 3px 3px rgba(255, 255, 255, 0.164);
  -moz-animation: bubble-positions 12s linear infinite -7s;
  -webkit-animation: bubble-positions 12s linear infinite -7s;
  animation: bubble-positions 12s linear infinite -7s;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(24) {
  height: 21px;
  width: 21px;
  left: 39%;
  opacity: 0.105;
  -moz-box-shadow: 0px 0px 4px 1px rgba(255, 255, 255, 0.105);
  -webkit-box-shadow: 0px 0px 4px 1px rgba(255, 255, 255, 0.105);
  box-shadow: 0px 0px 4px 1px rgba(255, 255, 255, 0.105);
  -moz-animation: bubble-positions 9s linear infinite -6s;
  -webkit-animation: bubble-positions 9s linear infinite -6s;
  animation: bubble-positions 9s linear infinite -6s;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(25) {
  height: 22px;
  width: 22px;
  left: 74%;
  opacity: 0.136;
  -moz-box-shadow: 0px 0px 6px 2px rgba(255, 255, 255, 0.136);
  -webkit-box-shadow: 0px 0px 6px 2px rgba(255, 255, 255, 0.136);
  box-shadow: 0px 0px 6px 2px rgba(255, 255, 255, 0.136);
  -moz-animation: bubble-positions 11s linear infinite -5s;
  -webkit-animation: bubble-positions 11s linear infinite -5s;
  animation: bubble-positions 11s linear infinite -5s;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(26) {
  height: 20px;
  width: 20px;
  left: 54%;
  opacity: 0.143;
  -moz-box-shadow: 0px 0px 6px 3px rgba(255, 255, 255, 0.143);
  -webkit-box-shadow: 0px 0px 6px 3px rgba(255, 255, 255, 0.143);
  box-shadow: 0px 0px 6px 3px rgba(255, 255, 255, 0.143);
  -moz-animation: bubble-positions 11s linear infinite -3s;
  -webkit-animation: bubble-positions 11s linear infinite -3s;
  animation: bubble-positions 11s linear infinite -3s;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(27) {
  height: 19px;
  width: 19px;
  left: 63%;
  opacity: 0.161;
  -moz-box-shadow: 0px 0px 6px 4px rgba(255, 255, 255, 0.161);
  -webkit-box-shadow: 0px 0px 6px 4px rgba(255, 255, 255, 0.161);
  box-shadow: 0px 0px 6px 4px rgba(255, 255, 255, 0.161);
  -moz-animation: bubble-positions 10s linear infinite -4s;
  -webkit-animation: bubble-positions 10s linear infinite -4s;
  animation: bubble-positions 10s linear infinite -4s;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(28) {
  height: 20px;
  width: 20px;
  left: 90%;
  opacity: 0.19;
  -moz-box-shadow: 0px 0px 5px 4px rgba(255, 255, 255, 0.19);
  -webkit-box-shadow: 0px 0px 5px 4px rgba(255, 255, 255, 0.19);
  box-shadow: 0px 0px 5px 4px rgba(255, 255, 255, 0.19);
  -moz-animation: bubble-positions 12s linear infinite -1s;
  -webkit-animation: bubble-positions 12s linear infinite -1s;
  animation: bubble-positions 12s linear infinite -1s;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(29) {
  height: 23px;
  width: 23px;
  left: 69%;
  opacity: 0.143;
  -moz-box-shadow: 0px 0px 6px 4px rgba(255, 255, 255, 0.143);
  -webkit-box-shadow: 0px 0px 6px 4px rgba(255, 255, 255, 0.143);
  box-shadow: 0px 0px 6px 4px rgba(255, 255, 255, 0.143);
  -moz-animation: bubble-positions 8s linear infinite -4s;
  -webkit-animation: bubble-positions 8s linear infinite -4s;
  animation: bubble-positions 8s linear infinite -4s;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(30) {
  height: 21px;
  width: 21px;
  left: 72%;
  opacity: 0.11;
  -moz-box-shadow: 0px 0px 3px 2px rgba(255, 255, 255, 0.11);
  -webkit-box-shadow: 0px 0px 3px 2px rgba(255, 255, 255, 0.11);
  box-shadow: 0px 0px 3px 2px rgba(255, 255, 255, 0.11);
  -moz-animation: bubble-positions 11s linear infinite -2s;
  -webkit-animation: bubble-positions 11s linear infinite -2s;
  animation: bubble-positions 11s linear infinite -2s;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(31) {
  height: 21px;
  width: 21px;
  left: 63%;
  opacity: 0.178;
  -moz-box-shadow: 0px 0px 3px 4px rgba(255, 255, 255, 0.178);
  -webkit-box-shadow: 0px 0px 3px 4px rgba(255, 255, 255, 0.178);
  box-shadow: 0px 0px 3px 4px rgba(255, 255, 255, 0.178);
  -moz-animation: bubble-positions 9s linear infinite -9s;
  -webkit-animation: bubble-positions 9s linear infinite -9s;
  animation: bubble-positions 9s linear infinite -9s;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(32) {
  height: 22px;
  width: 22px;
  left: 23%;
  opacity: 0.118;
  -moz-box-shadow: 0px 0px 7px 3px rgba(255, 255, 255, 0.118);
  -webkit-box-shadow: 0px 0px 7px 3px rgba(255, 255, 255, 0.118);
  box-shadow: 0px 0px 7px 3px rgba(255, 255, 255, 0.118);
  -moz-animation: bubble-positions 10s linear infinite -6s;
  -webkit-animation: bubble-positions 10s linear infinite -6s;
  animation: bubble-positions 10s linear infinite -6s;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(33) {
  height: 20px;
  width: 20px;
  left: 72%;
  opacity: 0.154;
  -moz-box-shadow: 0px 0px 4px 2px rgba(255, 255, 255, 0.154);
  -webkit-box-shadow: 0px 0px 4px 2px rgba(255, 255, 255, 0.154);
  box-shadow: 0px 0px 4px 2px rgba(255, 255, 255, 0.154);
  -moz-animation: bubble-positions 10s linear infinite -9s;
  -webkit-animation: bubble-positions 10s linear infinite -9s;
  animation: bubble-positions 10s linear infinite -9s;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(34) {
  height: 17px;
  width: 17px;
  left: 46%;
  opacity: 0.132;
  -moz-box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.132);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.132);
  box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.132);
  -moz-animation: bubble-positions 12s linear infinite -3s;
  -webkit-animation: bubble-positions 12s linear infinite -3s;
  animation: bubble-positions 12s linear infinite -3s;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(35) {
  height: 22px;
  width: 22px;
  left: 99%;
  opacity: 0.116;
  -moz-box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.116);
  -webkit-box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.116);
  box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.116);
  -moz-animation: bubble-positions 8s linear infinite -10s;
  -webkit-animation: bubble-positions 8s linear infinite -10s;
  animation: bubble-positions 8s linear infinite -10s;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(36) {
  height: 22px;
  width: 22px;
  left: 19%;
  opacity: 0.192;
  -moz-box-shadow: 0px 0px 3px 3px rgba(255, 255, 255, 0.192);
  -webkit-box-shadow: 0px 0px 3px 3px rgba(255, 255, 255, 0.192);
  box-shadow: 0px 0px 3px 3px rgba(255, 255, 255, 0.192);
  -moz-animation: bubble-positions 11s linear infinite -5s;
  -webkit-animation: bubble-positions 11s linear infinite -5s;
  animation: bubble-positions 11s linear infinite -5s;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(37) {
  height: 23px;
  width: 23px;
  left: 68%;
  opacity: 0.16;
  -moz-box-shadow: 0px 0px 4px 2px rgba(255, 255, 255, 0.16);
  -webkit-box-shadow: 0px 0px 4px 2px rgba(255, 255, 255, 0.16);
  box-shadow: 0px 0px 4px 2px rgba(255, 255, 255, 0.16);
  -moz-animation: bubble-positions 14s linear infinite -7s;
  -webkit-animation: bubble-positions 14s linear infinite -7s;
  animation: bubble-positions 14s linear infinite -7s;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(38) {
  height: 23px;
  width: 23px;
  left: 98%;
  opacity: 0.101;
  -moz-box-shadow: 0px 0px 4px 4px rgba(255, 255, 255, 0.101);
  -webkit-box-shadow: 0px 0px 4px 4px rgba(255, 255, 255, 0.101);
  box-shadow: 0px 0px 4px 4px rgba(255, 255, 255, 0.101);
  -moz-animation: bubble-positions 9s linear infinite -7s;
  -webkit-animation: bubble-positions 9s linear infinite -7s;
  animation: bubble-positions 9s linear infinite -7s;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(39) {
  height: 20px;
  width: 20px;
  left: 45%;
  opacity: 0.188;
  -moz-box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.188);
  -webkit-box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.188);
  box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.188);
  -moz-animation: bubble-positions 8s linear infinite -10s;
  -webkit-animation: bubble-positions 8s linear infinite -10s;
  animation: bubble-positions 8s linear infinite -10s;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(40) {
  height: 19px;
  width: 19px;
  left: 38%;
  opacity: 0.127;
  -moz-box-shadow: 0px 0px 8px 3px rgba(255, 255, 255, 0.127);
  -webkit-box-shadow: 0px 0px 8px 3px rgba(255, 255, 255, 0.127);
  box-shadow: 0px 0px 8px 3px rgba(255, 255, 255, 0.127);
  -moz-animation: bubble-positions 12s linear infinite -7s;
  -webkit-animation: bubble-positions 12s linear infinite -7s;
  animation: bubble-positions 12s linear infinite -7s;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(41) {
  height: 19px;
  width: 19px;
  left: 8%;
  opacity: 0.12;
  -moz-box-shadow: 0px 0px 2px 4px rgba(255, 255, 255, 0.12);
  -webkit-box-shadow: 0px 0px 2px 4px rgba(255, 255, 255, 0.12);
  box-shadow: 0px 0px 2px 4px rgba(255, 255, 255, 0.12);
  -moz-animation: bubble-positions 7s linear infinite -5s;
  -webkit-animation: bubble-positions 7s linear infinite -5s;
  animation: bubble-positions 7s linear infinite -5s;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(42) {
  height: 19px;
  width: 19px;
  left: 2%;
  opacity: 0.172;
  -moz-box-shadow: 0px 0px 1px 2px rgba(255, 255, 255, 0.172);
  -webkit-box-shadow: 0px 0px 1px 2px rgba(255, 255, 255, 0.172);
  box-shadow: 0px 0px 1px 2px rgba(255, 255, 255, 0.172);
  -moz-animation: bubble-positions 7s linear infinite -4s;
  -webkit-animation: bubble-positions 7s linear infinite -4s;
  animation: bubble-positions 7s linear infinite -4s;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(43) {
  height: 22px;
  width: 22px;
  left: 59%;
  opacity: 0.195;
  -moz-box-shadow: 0px 0px 6px 3px rgba(255, 255, 255, 0.195);
  -webkit-box-shadow: 0px 0px 6px 3px rgba(255, 255, 255, 0.195);
  box-shadow: 0px 0px 6px 3px rgba(255, 255, 255, 0.195);
  -moz-animation: bubble-positions 10s linear infinite -10s;
  -webkit-animation: bubble-positions 10s linear infinite -10s;
  animation: bubble-positions 10s linear infinite -10s;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(44) {
  height: 21px;
  width: 21px;
  left: 76%;
  opacity: 0.133;
  -moz-box-shadow: 0px 0px 5px 3px rgba(255, 255, 255, 0.133);
  -webkit-box-shadow: 0px 0px 5px 3px rgba(255, 255, 255, 0.133);
  box-shadow: 0px 0px 5px 3px rgba(255, 255, 255, 0.133);
  -moz-animation: bubble-positions 12s linear infinite -1s;
  -webkit-animation: bubble-positions 12s linear infinite -1s;
  animation: bubble-positions 12s linear infinite -1s;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(45) {
  height: 23px;
  width: 23px;
  left: 99%;
  opacity: 0.176;
  -moz-box-shadow: 0px 0px 3px 3px rgba(255, 255, 255, 0.176);
  -webkit-box-shadow: 0px 0px 3px 3px rgba(255, 255, 255, 0.176);
  box-shadow: 0px 0px 3px 3px rgba(255, 255, 255, 0.176);
  -moz-animation: bubble-positions 14s linear infinite -9s;
  -webkit-animation: bubble-positions 14s linear infinite -9s;
  animation: bubble-positions 14s linear infinite -9s;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(46) {
  height: 22px;
  width: 22px;
  left: 52%;
  opacity: 0.108;
  -moz-box-shadow: 0px 0px 3px 4px rgba(255, 255, 255, 0.108);
  -webkit-box-shadow: 0px 0px 3px 4px rgba(255, 255, 255, 0.108);
  box-shadow: 0px 0px 3px 4px rgba(255, 255, 255, 0.108);
  -moz-animation: bubble-positions 10s linear infinite -3s;
  -webkit-animation: bubble-positions 10s linear infinite -3s;
  animation: bubble-positions 10s linear infinite -3s;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(47) {
  height: 20px;
  width: 20px;
  left: 37%;
  opacity: 0.132;
  -moz-box-shadow: 0px 0px 3px 1px rgba(255, 255, 255, 0.132);
  -webkit-box-shadow: 0px 0px 3px 1px rgba(255, 255, 255, 0.132);
  box-shadow: 0px 0px 3px 1px rgba(255, 255, 255, 0.132);
  -moz-animation: bubble-positions 8s linear infinite -7s;
  -webkit-animation: bubble-positions 8s linear infinite -7s;
  animation: bubble-positions 8s linear infinite -7s;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(48) {
  height: 18px;
  width: 18px;
  left: 48%;
  opacity: 0.163;
  -moz-box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 0.163);
  -webkit-box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 0.163);
  box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 0.163);
  -moz-animation: bubble-positions 10s linear infinite -5s;
  -webkit-animation: bubble-positions 10s linear infinite -5s;
  animation: bubble-positions 10s linear infinite -5s;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(49) {
  height: 20px;
  width: 20px;
  left: 52%;
  opacity: 0.147;
  -moz-box-shadow: 0px 0px 4px 2px rgba(255, 255, 255, 0.147);
  -webkit-box-shadow: 0px 0px 4px 2px rgba(255, 255, 255, 0.147);
  box-shadow: 0px 0px 4px 2px rgba(255, 255, 255, 0.147);
  -moz-animation: bubble-positions 8s linear infinite -3s;
  -webkit-animation: bubble-positions 8s linear infinite -3s;
  animation: bubble-positions 8s linear infinite -3s;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(50) {
  height: 17px;
  width: 17px;
  left: 16%;
  opacity: 0.157;
  -moz-box-shadow: 0px 0px 7px 1px rgba(255, 255, 255, 0.157);
  -webkit-box-shadow: 0px 0px 7px 1px rgba(255, 255, 255, 0.157);
  box-shadow: 0px 0px 7px 1px rgba(255, 255, 255, 0.157);
  -moz-animation: bubble-positions 7s linear infinite -6s;
  -webkit-animation: bubble-positions 7s linear infinite -6s;
  animation: bubble-positions 7s linear infinite -6s;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(51) {
  height: 22px;
  width: 22px;
  left: 48%;
  opacity: 0.149;
  -moz-box-shadow: 0px 0px 7px 4px rgba(255, 255, 255, 0.149);
  -webkit-box-shadow: 0px 0px 7px 4px rgba(255, 255, 255, 0.149);
  box-shadow: 0px 0px 7px 4px rgba(255, 255, 255, 0.149);
  -moz-animation: bubble-positions 8s linear infinite -8s;
  -webkit-animation: bubble-positions 8s linear infinite -8s;
  animation: bubble-positions 8s linear infinite -8s;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(52) {
  height: 23px;
  width: 23px;
  left: 73%;
  opacity: 0.118;
  -moz-box-shadow: 0px 0px 7px 1px rgba(255, 255, 255, 0.118);
  -webkit-box-shadow: 0px 0px 7px 1px rgba(255, 255, 255, 0.118);
  box-shadow: 0px 0px 7px 1px rgba(255, 255, 255, 0.118);
  -moz-animation: bubble-positions 13s linear infinite -9s;
  -webkit-animation: bubble-positions 13s linear infinite -9s;
  animation: bubble-positions 13s linear infinite -9s;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(53) {
  height: 19px;
  width: 19px;
  left: 33%;
  opacity: 0.106;
  -moz-box-shadow: 0px 0px 8px 3px rgba(255, 255, 255, 0.106);
  -webkit-box-shadow: 0px 0px 8px 3px rgba(255, 255, 255, 0.106);
  box-shadow: 0px 0px 8px 3px rgba(255, 255, 255, 0.106);
  -moz-animation: bubble-positions 8s linear infinite -5s;
  -webkit-animation: bubble-positions 8s linear infinite -5s;
  animation: bubble-positions 8s linear infinite -5s;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(54) {
  height: 21px;
  width: 21px;
  left: 79%;
  opacity: 0.143;
  -moz-box-shadow: 0px 0px 3px 2px rgba(255, 255, 255, 0.143);
  -webkit-box-shadow: 0px 0px 3px 2px rgba(255, 255, 255, 0.143);
  box-shadow: 0px 0px 3px 2px rgba(255, 255, 255, 0.143);
  -moz-animation: bubble-positions 12s linear infinite -4s;
  -webkit-animation: bubble-positions 12s linear infinite -4s;
  animation: bubble-positions 12s linear infinite -4s;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(55) {
  height: 19px;
  width: 19px;
  left: 21%;
  opacity: 0.109;
  -moz-box-shadow: 0px 0px 3px 3px rgba(255, 255, 255, 0.109);
  -webkit-box-shadow: 0px 0px 3px 3px rgba(255, 255, 255, 0.109);
  box-shadow: 0px 0px 3px 3px rgba(255, 255, 255, 0.109);
  -moz-animation: bubble-positions 9s linear infinite -7s;
  -webkit-animation: bubble-positions 9s linear infinite -7s;
  animation: bubble-positions 9s linear infinite -7s;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(56) {
  height: 23px;
  width: 23px;
  left: 7%;
  opacity: 0.141;
  -moz-box-shadow: 0px 0px 2px 3px rgba(255, 255, 255, 0.141);
  -webkit-box-shadow: 0px 0px 2px 3px rgba(255, 255, 255, 0.141);
  box-shadow: 0px 0px 2px 3px rgba(255, 255, 255, 0.141);
  -moz-animation: bubble-positions 11s linear infinite -3s;
  -webkit-animation: bubble-positions 11s linear infinite -3s;
  animation: bubble-positions 11s linear infinite -3s;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(57) {
  height: 19px;
  width: 19px;
  left: 74%;
  opacity: 0.134;
  -moz-box-shadow: 0px 0px 4px 4px rgba(255, 255, 255, 0.134);
  -webkit-box-shadow: 0px 0px 4px 4px rgba(255, 255, 255, 0.134);
  box-shadow: 0px 0px 4px 4px rgba(255, 255, 255, 0.134);
  -moz-animation: bubble-positions 13s linear infinite -3s;
  -webkit-animation: bubble-positions 13s linear infinite -3s;
  animation: bubble-positions 13s linear infinite -3s;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(58) {
  height: 21px;
  width: 21px;
  left: 97%;
  opacity: 0.164;
  -moz-box-shadow: 0px 0px 3px 2px rgba(255, 255, 255, 0.164);
  -webkit-box-shadow: 0px 0px 3px 2px rgba(255, 255, 255, 0.164);
  box-shadow: 0px 0px 3px 2px rgba(255, 255, 255, 0.164);
  -moz-animation: bubble-positions 12s linear infinite -3s;
  -webkit-animation: bubble-positions 12s linear infinite -3s;
  animation: bubble-positions 12s linear infinite -3s;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(59) {
  height: 23px;
  width: 23px;
  left: 90%;
  opacity: 0.172;
  -moz-box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.172);
  -webkit-box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.172);
  box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.172);
  -moz-animation: bubble-positions 10s linear infinite -2s;
  -webkit-animation: bubble-positions 10s linear infinite -2s;
  animation: bubble-positions 10s linear infinite -2s;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(60) {
  height: 21px;
  width: 21px;
  left: 55%;
  opacity: 0.181;
  -moz-box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.181);
  -webkit-box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.181);
  box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.181);
  -moz-animation: bubble-positions 10s linear infinite -8s;
  -webkit-animation: bubble-positions 10s linear infinite -8s;
  animation: bubble-positions 10s linear infinite -8s;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(61) {
  height: 24px;
  width: 24px;
  left: 24%;
  opacity: 0.148;
  -moz-box-shadow: 0px 0px 7px 3px rgba(255, 255, 255, 0.148);
  -webkit-box-shadow: 0px 0px 7px 3px rgba(255, 255, 255, 0.148);
  box-shadow: 0px 0px 7px 3px rgba(255, 255, 255, 0.148);
  -moz-animation: bubble-positions 7s linear infinite -6s;
  -webkit-animation: bubble-positions 7s linear infinite -6s;
  animation: bubble-positions 7s linear infinite -6s;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(62) {
  height: 24px;
  width: 24px;
  left: 73%;
  opacity: 0.143;
  -moz-box-shadow: 0px 0px 6px 3px rgba(255, 255, 255, 0.143);
  -webkit-box-shadow: 0px 0px 6px 3px rgba(255, 255, 255, 0.143);
  box-shadow: 0px 0px 6px 3px rgba(255, 255, 255, 0.143);
  -moz-animation: bubble-positions 12s linear infinite -6s;
  -webkit-animation: bubble-positions 12s linear infinite -6s;
  animation: bubble-positions 12s linear infinite -6s;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(63) {
  height: 20px;
  width: 20px;
  left: 24%;
  opacity: 0.171;
  -moz-box-shadow: 0px 0px 3px 1px rgba(255, 255, 255, 0.171);
  -webkit-box-shadow: 0px 0px 3px 1px rgba(255, 255, 255, 0.171);
  box-shadow: 0px 0px 3px 1px rgba(255, 255, 255, 0.171);
  -moz-animation: bubble-positions 10s linear infinite -9s;
  -webkit-animation: bubble-positions 10s linear infinite -9s;
  animation: bubble-positions 10s linear infinite -9s;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(64) {
  height: 23px;
  width: 23px;
  left: 41%;
  opacity: 0.101;
  -moz-box-shadow: 0px 0px 8px 1px rgba(255, 255, 255, 0.101);
  -webkit-box-shadow: 0px 0px 8px 1px rgba(255, 255, 255, 0.101);
  box-shadow: 0px 0px 8px 1px rgba(255, 255, 255, 0.101);
  -moz-animation: bubble-positions 10s linear infinite -2s;
  -webkit-animation: bubble-positions 10s linear infinite -2s;
  animation: bubble-positions 10s linear infinite -2s;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(65) {
  height: 22px;
  width: 22px;
  left: 21%;
  opacity: 0.106;
  -moz-box-shadow: 0px 0px 4px 2px rgba(255, 255, 255, 0.106);
  -webkit-box-shadow: 0px 0px 4px 2px rgba(255, 255, 255, 0.106);
  box-shadow: 0px 0px 4px 2px rgba(255, 255, 255, 0.106);
  -moz-animation: bubble-positions 7s linear infinite -9s;
  -webkit-animation: bubble-positions 7s linear infinite -9s;
  animation: bubble-positions 7s linear infinite -9s;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(66) {
  height: 24px;
  width: 24px;
  left: 89%;
  opacity: 0.151;
  -moz-box-shadow: 0px 0px 4px 2px rgba(255, 255, 255, 0.151);
  -webkit-box-shadow: 0px 0px 4px 2px rgba(255, 255, 255, 0.151);
  box-shadow: 0px 0px 4px 2px rgba(255, 255, 255, 0.151);
  -moz-animation: bubble-positions 10s linear infinite -6s;
  -webkit-animation: bubble-positions 10s linear infinite -6s;
  animation: bubble-positions 10s linear infinite -6s;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(67) {
  height: 21px;
  width: 21px;
  left: 61%;
  opacity: 0.132;
  -moz-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.132);
  -webkit-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.132);
  box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.132);
  -moz-animation: bubble-positions 11s linear infinite -6s;
  -webkit-animation: bubble-positions 11s linear infinite -6s;
  animation: bubble-positions 11s linear infinite -6s;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(68) {
  height: 24px;
  width: 24px;
  left: 31%;
  opacity: 0.111;
  -moz-box-shadow: 0px 0px 1px 3px rgba(255, 255, 255, 0.111);
  -webkit-box-shadow: 0px 0px 1px 3px rgba(255, 255, 255, 0.111);
  box-shadow: 0px 0px 1px 3px rgba(255, 255, 255, 0.111);
  -moz-animation: bubble-positions 9s linear infinite -4s;
  -webkit-animation: bubble-positions 9s linear infinite -4s;
  animation: bubble-positions 9s linear infinite -4s;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(69) {
  height: 24px;
  width: 24px;
  left: 3%;
  opacity: 0.167;
  -moz-box-shadow: 0px 0px 2px 3px rgba(255, 255, 255, 0.167);
  -webkit-box-shadow: 0px 0px 2px 3px rgba(255, 255, 255, 0.167);
  box-shadow: 0px 0px 2px 3px rgba(255, 255, 255, 0.167);
  -moz-animation: bubble-positions 7s linear infinite -7s;
  -webkit-animation: bubble-positions 7s linear infinite -7s;
  animation: bubble-positions 7s linear infinite -7s;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(70) {
  height: 20px;
  width: 20px;
  left: 51%;
  opacity: 0.132;
  -moz-box-shadow: 0px 0px 7px 3px rgba(255, 255, 255, 0.132);
  -webkit-box-shadow: 0px 0px 7px 3px rgba(255, 255, 255, 0.132);
  box-shadow: 0px 0px 7px 3px rgba(255, 255, 255, 0.132);
  -moz-animation: bubble-positions 13s linear infinite -8s;
  -webkit-animation: bubble-positions 13s linear infinite -8s;
  animation: bubble-positions 13s linear infinite -8s;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(71) {
  height: 19px;
  width: 19px;
  left: 31%;
  opacity: 0.142;
  -moz-box-shadow: 0px 0px 7px 3px rgba(255, 255, 255, 0.142);
  -webkit-box-shadow: 0px 0px 7px 3px rgba(255, 255, 255, 0.142);
  box-shadow: 0px 0px 7px 3px rgba(255, 255, 255, 0.142);
  -moz-animation: bubble-positions 13s linear infinite -1s;
  -webkit-animation: bubble-positions 13s linear infinite -1s;
  animation: bubble-positions 13s linear infinite -1s;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(72) {
  height: 24px;
  width: 24px;
  left: 39%;
  opacity: 0.151;
  -moz-box-shadow: 0px 0px 6px 3px rgba(255, 255, 255, 0.151);
  -webkit-box-shadow: 0px 0px 6px 3px rgba(255, 255, 255, 0.151);
  box-shadow: 0px 0px 6px 3px rgba(255, 255, 255, 0.151);
  -moz-animation: bubble-positions 13s linear infinite -2s;
  -webkit-animation: bubble-positions 13s linear infinite -2s;
  animation: bubble-positions 13s linear infinite -2s;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(73) {
  height: 18px;
  width: 18px;
  left: 86%;
  opacity: 0.137;
  -moz-box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 0.137);
  -webkit-box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 0.137);
  box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 0.137);
  -moz-animation: bubble-positions 10s linear infinite -9s;
  -webkit-animation: bubble-positions 10s linear infinite -9s;
  animation: bubble-positions 10s linear infinite -9s;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(74) {
  height: 24px;
  width: 24px;
  left: 20%;
  opacity: 0.107;
  -moz-box-shadow: 0px 0px 4px 1px rgba(255, 255, 255, 0.107);
  -webkit-box-shadow: 0px 0px 4px 1px rgba(255, 255, 255, 0.107);
  box-shadow: 0px 0px 4px 1px rgba(255, 255, 255, 0.107);
  -moz-animation: bubble-positions 13s linear infinite -5s;
  -webkit-animation: bubble-positions 13s linear infinite -5s;
  animation: bubble-positions 13s linear infinite -5s;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(75) {
  height: 17px;
  width: 17px;
  left: 38%;
  opacity: 0.101;
  -moz-box-shadow: 0px 0px 5px 4px rgba(255, 255, 255, 0.101);
  -webkit-box-shadow: 0px 0px 5px 4px rgba(255, 255, 255, 0.101);
  box-shadow: 0px 0px 5px 4px rgba(255, 255, 255, 0.101);
  -moz-animation: bubble-positions 12s linear infinite -4s;
  -webkit-animation: bubble-positions 12s linear infinite -4s;
  animation: bubble-positions 12s linear infinite -4s;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(76) {
  height: 17px;
  width: 17px;
  left: 83%;
  opacity: 0.109;
  -moz-box-shadow: 0px 0px 8px 4px rgba(255, 255, 255, 0.109);
  -webkit-box-shadow: 0px 0px 8px 4px rgba(255, 255, 255, 0.109);
  box-shadow: 0px 0px 8px 4px rgba(255, 255, 255, 0.109);
  -moz-animation: bubble-positions 9s linear infinite -1s;
  -webkit-animation: bubble-positions 9s linear infinite -1s;
  animation: bubble-positions 9s linear infinite -1s;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(77) {
  height: 23px;
  width: 23px;
  left: 67%;
  opacity: 0.193;
  -moz-box-shadow: 0px 0px 1px 2px rgba(255, 255, 255, 0.193);
  -webkit-box-shadow: 0px 0px 1px 2px rgba(255, 255, 255, 0.193);
  box-shadow: 0px 0px 1px 2px rgba(255, 255, 255, 0.193);
  -moz-animation: bubble-positions 9s linear infinite -4s;
  -webkit-animation: bubble-positions 9s linear infinite -4s;
  animation: bubble-positions 9s linear infinite -4s;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(78) {
  height: 24px;
  width: 24px;
  left: 10%;
  opacity: 0.145;
  -moz-box-shadow: 0px 0px 6px 2px rgba(255, 255, 255, 0.145);
  -webkit-box-shadow: 0px 0px 6px 2px rgba(255, 255, 255, 0.145);
  box-shadow: 0px 0px 6px 2px rgba(255, 255, 255, 0.145);
  -moz-animation: bubble-positions 14s linear infinite -1s;
  -webkit-animation: bubble-positions 14s linear infinite -1s;
  animation: bubble-positions 14s linear infinite -1s;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(79) {
  height: 22px;
  width: 22px;
  left: 20%;
  opacity: 0.178;
  -moz-box-shadow: 0px 0px 4px 2px rgba(255, 255, 255, 0.178);
  -webkit-box-shadow: 0px 0px 4px 2px rgba(255, 255, 255, 0.178);
  box-shadow: 0px 0px 4px 2px rgba(255, 255, 255, 0.178);
  -moz-animation: bubble-positions 8s linear infinite -2s;
  -webkit-animation: bubble-positions 8s linear infinite -2s;
  animation: bubble-positions 8s linear infinite -2s;
}
/* line 64, ../sass/style.scss */
.bg .bubble:nth-child(80) {
  height: 21px;
  width: 21px;
  left: 99%;
  opacity: 0.137;
  -moz-box-shadow: 0px 0px 1px 2px rgba(255, 255, 255, 0.137);
  -webkit-box-shadow: 0px 0px 1px 2px rgba(255, 255, 255, 0.137);
  box-shadow: 0px 0px 1px 2px rgba(255, 255, 255, 0.137);
  -moz-animation: bubble-positions 14s linear infinite -10s;
  -webkit-animation: bubble-positions 14s linear infinite -10s;
  animation: bubble-positions 14s linear infinite -10s;
}

@media only screen and (max-device-width: 400px) {
  /* line 79, ../sass/style.scss */
  .bg .bubble:nth-child(n+8) {
    display: none;
  }
}
/* line 85, ../sass/style.scss */
.panes > div:nth-child(n+2) {
  display: none;
}
